h1 {
    background-color: rgb(71, 56, 211);
    width:inherit;
    color:chartreuse;
    padding: 20px;
}
.nice {
    font-weight: bold;
    background:red;
}
.nice2{
    font-weight: bold;
    background:rgb(228, 207, 21);
}
.nice3 {
    font-weight: bold;
    background:rgb(0, 255, 98);
}